html {
    height: 100%;
}

body {
    height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Georgia, sans-serif;

	background-color: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #5f7380 100%);
	background: -webkit-linear-gradient(top, #000000 0%,#5f7380 100%);
	background: -o-linear-gradient(top, #000000 0%,#5f7380 100%);
	background: -ms-linear-gradient(top, #000000 0%,#5f7380 100%);
	background: linear-gradient(top, #000000 0%,#5f7380 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#5f7380',GradientType=0 );

}

#main {
	width: 100%;
	height: 100%;
	background: url('../images/stripes.png');	
}

#error {
	position: absolute;	
	display: none;
	width: 768px;
	margin-left: 50%;
	left: -384px;
	margin-top: 50%;
	top: -128px;
}

#errorMessage {
	background: #fff;
	color: #666;
	opacity: .9;
	padding: 8px;
	border-radius: 8px;
	text-align: center;
}

#errorMessage a {
	color: #666;
}